# Virtual environment
venv/

# Data files (too large for github)
data/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db